<div class="min-h-screen bg-gradient-to-br from-gray-900 to-gray-800">
  <div class="container mx-auto p-4">
    <h2 class="text-3xl font-semibold text-green-500 mb-4">Playlist</h2>
    <table class="table-auto w-full mb-4">
      <thead>
      <tr>
        <th class="border px-4 py-2">Chanson</th>
        <th class="border px-4 py-2">Action</th>
      </tr>
      </thead>
      <tbody *ngIf="playlist">
        <tr *ngFor="let song of playlist.songs">
          <td class="border px-4 py-2">{{ song.title }} - {{ song.artist.name }}</td>
          <td class="border px-4 py-2">
            <!-- Ajouter des actions si nécessaire -->
          </td>
        </tr>
      </tbody>
    </table>
    <button class="bg-blue-600 text-white py-2 px-4 rounded" (click)="openAddSongModal()">Ajouter une nouvelle chanson à la playlist</button>
  </div>
</div>

<!-- Ajoutez ceci après la balise de fermeture </div> du conteneur principal -->
<div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="showAddSongModal">
  <div class="flex items-center justify-center min-h-screen">
    <div class="bg-white rounded p-8 m-4 max-w-xl mx-auto">
      <h2 class="text-2xl font-semibold mb-4">Ajouter une chanson à la playlist</h2>
      <div class="mb-4">
        <label for="searchQuery" class="block text-sm font-medium mb-2">Rechercher une chanson</label>
        <input type="text" id="searchQuery" name="searchQuery" [(ngModel)]="searchQuery" class="border border-gray-300 p-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-600 transition duration-300" placeholder="Rechercher une chanson" />
      </div>
      <button class="bg-blue-600 text-white py-2 px-4 rounded mb-4" (click)="searchSongs()">Rechercher</button>
      <ul>
        <li *ngFor="let song of searchResults">
          {{ song.title }} - {{ song.artist.name }} <button class="bg-blue-600 text-white py-2 px-4 rounded mb-4" (click)="addSongToPlaylist(song)">Ajouter</button>
        </li>
      </ul>
      <div class="flex justify-end mt-4">
        <button class="bg-gray-600 text-white py-2 px-4 rounded" (click)="closeAddSongModal()">Fermer</button>
      </div>
    </div>
  </div>
</div>
